.cart {
  background-image: url(./back2.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  font-size: 20px;
  padding-top: 150px;
  text-align: right;
  padding-right: 30px;
  padding-bottom: 120px;
  line-height: 30px;
  list-style: none;
}
.media {
  display: flex;
  justify-content: end;
  gap: 20px;
}
@media (max-width: 835px) {
  .cart {
    font-size: 15px;
    padding-top: 150px;
    display: flex;
    padding-bottom: 200px;
    text-align: center;
    padding-right: 5%;
  }
}
