.cart {
  background-repeat: no-repeat;
  background-size: cover;
  font-size: 20px;
  padding-top: 150px;
  text-align: center;
  padding-right: 30px;
  padding-bottom: 120px;
  line-height: 30px;
  list-style: none;
}
.media {
  display: flex;
  justify-content: center;
  gap: 20px;
}
@media (max-width: 835px) {
  .cart {
    font-size: 15px;
  }
}
